@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
}

.landing {
  background-color: black;
  color: white;
  padding: 2rem;
}

.regionName {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.allCities {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.cityBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 20rem;
  margin: 1rem;
  color: white;
}

.cityName {
  font-size: 1.5rem;
  font-weight: 800;
}

.mogadishubg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/mogadishumap.png");
  background-size: contain;
}

.kismaayobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/kismaayomap.png");
  background-size: contain;
}

.bosasobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/bosasomap.png");
  background-size: contain;
}

.hargeysabg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/hargeysamap.png");
  background-size: contain;
}

.burcobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/burcomap.png");
  background-size: contain;
}

.berberabg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/berberamap.png");
  background-size: contain;
}

/* Mogadishu */

.mogPage {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) -70%, rgb(0, 0, 0) 65%),
    url("./assets/mogadishumap.png");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.textBox1,
.textBox2,
.textBox3 {
  padding-top: 15rem;
  padding-bottom: 15rem;
  margin-bottom: 1rem;
}

.textBox1 {
  margin-right: 30rem;
}

.textBox2 {
  margin-left: 35rem;
  width: 35rem;
}

.textBox3 {
  margin-left: 35rem;
  width: 35rem;
}

.heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hook {
  font-size: 3rem;
  line-height: 4rem;
}

.hook2,
.hook3 {
  font-size: 2rem;
  line-height: 3rem;
}

.focus {
  font-weight: 800;
}
