* {
  margin: 0;
}

.landing {
  background-color: black;
  color: white;
  padding: 2rem;
}

.regionName {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.allCities {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.cityBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 20rem;
  margin: 1rem;
  color: white;
}

.cityName {
  font-size: 1.5rem;
  font-weight: 800;
}

.mogadishubg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/mogadishumap.png");
  background-size: contain;
}

.kismaayobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/kismaayomap.png");
  background-size: contain;
}

.bosasobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/bosasomap.png");
  background-size: contain;
}

.hargeysabg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/hargeysamap.png");
  background-size: contain;
}

.burcobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/burcomap.png");
  background-size: contain;
}

.berberabg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/berberamap.png");
  background-size: contain;
}
