@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
}

.landing {
  background-color: black;
  color: white;
  padding: 2rem;
}

.regionName {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.allCities {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.cityBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22rem;
  height: 20rem;
  margin: 1rem;
  color: white;
}

.cityName {
  font-size: 1.5rem;
  font-weight: 800;
}

.mogadishubg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/mogadishumap.png");
  background-size: contain;
}

.kismaayobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/kismaayomap.png");
  background-size: contain;
}

.bosasobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/bosasomap.png");
  background-size: contain;
}

.hargeysabg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/hargeysamap.png");
  background-size: contain;
}

.burcobg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/burcomap.png");
  background-size: contain;
}

.berberabg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) 38%, rgb(0, 0, 0) 70%),
    url("./assets/berberamap.png");
  background-size: contain;
}

/* Mogadishu */

.mogPage {
  background-image: radial-gradient(rgba(0, 0, 0, 0.05) -70%, rgb(0, 0, 0) 65%),
    url("./assets/mogadishumap.png");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.textBox1,
.textBox2,
.textBox3 {
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.textBox1 {
  margin-right: 30rem;
}

.textBox2 {
  margin-left: 35rem;
  width: 35rem;
}

.textBox3 {
  margin-left: 35rem;
  width: 35rem;
}

.heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hook {
  font-size: 3rem;
  line-height: 4rem;
}

.hook2,
.hook3 {
  font-size: 2rem;
  line-height: 3rem;
}

.focus {
  font-weight: 800;
}

/* SIDEBAR */

#page-wrap {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: darkblue;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 10px;
  top: 20px;
}

@media (max-width: 500px) {
  .bm-burger-button {
    width: 20px;
    height: 20px;
    left: 7px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(240, 240, 240);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
